ELEVENLABS_KEY=sk_dbedc3e00778dabe3fd6fa3cddb6f9f816b10a10bd18dde4
ELEVENLABS_VOICE_ID=yj30vwTGJxSHezdAGsv9
ANTHROPIC_KEY=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